.btn {
    background-color: #222;
    color: white;
    padding: 0.7em 1.2em;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    border: 0;
}

.btn:hover {
    background-color: #ffbb33;
}